<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>YOUR ACTION MATTERS</title>
  <link rel="stylesheet" href="css/style.css" />

</head>
<body>
    {{>navbar}}
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
          <img src="carbon.jpg">
          <span class="nav-item">Dance</span>
        </a></li>
        <li><a href="#id1">
          <i class="fas fa-menorah"></i>
          <span class="nav-item">About us</span>
        </a></li>
        <li><a href="#id2">
          <i class="fas fa-comment"></i>
          <span class="nav-item">Bharathanatyam</span>
        </a></li>
        <li><a href="#id3">
          <i class="fas fa-database"></i>
          <span class="nav-item">Saalsa</span>
        </a></li>
        <li><a href="#id4">
          <i class="fas fa-chart-bar"></i>
          <span class="nav-item">Zumba</span>
        </a></li>
        <li><a href="#id5">
          <i class="fas fa-cog"></i>
          <span class="nav-item">bollywood/freestyle</span>
        </a></li>

        <li><a href="register">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Want to Register</span>
        </a></li>
          <li><p class="back">&copyDANCE</p></li>
      </ul>
    </nav>


    <section class="main">
      <div class="main-top">

<p id="id1" >
<pre>
<div class="header">
<h1>FEET OF FIRE</h1>
</div>
<img src="images/db3.webp" class="it" width="500" height="500" >
<br>
<br>
ABOUT <b>Feet Of Fire</b>
We at <i>Feet Of Fire</i>,
believe that dance has something
to offer everybody, and so we have a myriad of services
of the best in dance education and entertainment.


We provide
Dance lessons in various forms.
World class performances.
Choreography services for weddings, corporates, schools and colleges.
Workshops for corporate events, private parties and social events.
Classes and workshops for kids


We’re good dancers and good teachers. Our “credentials” can be found here.
But here’s what we think helps us to be a good dance school that gives you great dance education and experiences-

We genuinely love what we do and make every effort to impart the best of our knowledge to our students.
We train hard ourselves, in order to stay on top of our game.
We have decades of combined experience in dance training and have worked with scores of students before you.
We have developed a well-researched syllabus that we follow and upgrade constantly.
We’re always ready to help you in your journey to becoming a better dancer.
</p>
</div>

<h2  id="id2">bharathanatyam</h2>
<br>
<img src="images/db4.jpg" class="t" width="800" height="400" >
<br>
<p>
<pre>
A highly stylized dance form from south of India, “Bharatanatyam”  is a form of rhythmic yoga (natya yoga), 
for revealing the spiritual through the corporeal. 
It is the most ancient of all classical dance forms in India, which is based on Natya Shastra, the ‘Bible’
of Indian classical dance forms. 
It is the most celebrated religious dance form in India and also the most widely practiced of South Indian 
classical dances and around the world. 
It is dedicated to the praise of God through the depiction of religious stories. Originally, it was performed
by devdasis – women who performed religious dances in Hindu temples.

 
The technical aspects of Bharatanatyam consist of abstract and aesthetically beautiful, rhythmic, 
controlled body movements danced in the “araimandi” posture.
 Bharatanatyam  expressions are highly stylised in  gestural interpretation, suggestive in ideas, subtle and 
full of emotions. 
Complex rhythmic footwork is set to  improvisation of complex melodious sequences/rhythms and syllables of 
“Mridangam”.


<b><i>class information</i></b>
 >Classes are offered on weekdays & weekends.
 >Beginner level classes are held once a week for one hour.
 >Intermediate and advanced level classes are for one and half hour.
 >Refunds or credits are given only for the classes canceled by the school.
 >Every student should bring ghunghroo, note, pen/pencil, theory books to class.
 >Ghunghroos, books and school dress code are available for purchase.
 >All adult/teen students should wear Indian classical dance practice saree and students age 12 yrs & under 
   should wear Salwar Kameez(blue top and green bottom) with green Chunni(scarf).
 >All students are expected to be punctual and regular.
<pre></p>
<h2 id="id3">Saalsa</h2>
<br>
<img src="images/db5.webp" class="t" width="800" height="400" >
<br>
<p >
<pre>
Salsa is an umbrella term for a mixture of musical and dance styles that came together in Cuba to 
form what we know today as SALSA. 
Today, around the world, Salsa is danced as a social dance as well as performance art. Typically,
Salsa is danced as a partner dance with a leader and a follower.

<b><i>About our Salsa classes</i></b>
>Learn to social dance at our Salsa classes. 
Our salsa classes bring together people from all walks of life to enjoy this incredible dance
and immerse in the rich culture. 
>We deliver the best Salsa experience through our internationally trained team of instructors with
a focus on great technique, a well-researched syllabus, and pure fun!
>Clothes- We suggest comfortable clothing that you can move easily in. 
For example, track pants and a T-shirt. 
>Footwear- If this is your first salsa class, you could bring a pair of socks to dance in. 
There are however specialised dance shoes designed for salsa dancing and we recommend investing in a 
pair if you intend to-do more than a few salsa classes go out social dancing
>Classes are offered on weekdays & weekends.
>Beginner level classes are held once a week for one hour.
>Intermediate and advanced level classes are for one and half hour.
>Refunds or credits are given only for the classes canceled by the school.
>All students are expected to be punctual and regular.</pre></p>

<h2  id="id4">Zumba</h2>
<br>
<img src="images/db6.jpg" class="t" width="800" height="400" >
<br>
<p >
<pre>
The high-energy classes are set to upbeat music and feature choreographed dance numbers that you might
see in a nightclub. 
You don’t need to be a great dancer to feel welcome in a Zumba class.
With the tag line, “Ditch the Workout, Join the Party,” the classes emphasize moving to the music 
and having a good time, no rhythm required.

There are several different kinds of Zumba classes, from Aqua Zumba workouts to classes like Zumba
Toning that incorporate weights for additional calorie burning and strength training.
There are even Zumba classes for kids.

Working up a sweat in the 60-minute classes burns an average of 369 calories -- more than cardio 
kickboxing or step aerobics.
You’ll get a great cardio workout that melts fat, strengthens your core, and improves flexibility.

<b><i>class information</i></b>
>Wear comfortable attire
>Wear shoes with low tread
>Eat something light before your class
>Consult your doctor before joining Zumba if you have a medical condition
>It is ok if you do the move wrong
You will not become an expert in Zumba with just one or two classes. So, do not judge yourself. 
Just keep practicing. 
Initially, you will do it incorrectly but soon you will be able to complete the entire routine 
without any mistakes.
>There is no age restriction and anybody can do Zumba whether you are a child, a teenager, or 
a senior citizen.
>You also do not require any pre-skil.
>Classes are offered on weekdays & weekends.
>Beginner level classes are held once a week for one hour.
>Intermediate and advanced level classes are for one and half hour.
>Refunds or credits are given only for the classes canceled by the school.
>All students are expected to be punctual and regular.</pre></p>

<h2  id="id5">Bollywood/freestyle</h2>
<br>
<img src="images/db7.jpg" class="t" width="800" height="400" >
<br>
<p><pre>
Bollywood/Free style dance are derived from combination of formal and folk Indian dance traditions
and music. 
In older movies Bollywood dances represent dances of the common people in fusion with Middle Eastern 
techniques or dances are presented in pure classical dance forms.
With time and cultural changes, Bollywood/Freestyle dance form has changed and adopted many 
Folk/classical dance styles from all around the world into their choreographies.
Since they are group dances and dancing on joyful music, has attract people to adopt this dance
style as their daily routine of exercise, all around the world! 
Bollywood dance and music has highly influenced today’s young generation and artists in India 
and around the world.

<b><i>class information</i></b>
>Classes are offered on weekdays & weekends.
>Beginner level classes are held once a week for one hour.
>Intermediate and advanced level classes are for one and half hour.
>Refunds or credits are given only for the classes canceled by the school.
>All students are expected to be punctual and regular.
>All students should wear Indian Salwar Kameez or long top and leggings. Skirts, shorts, tank
tops and jeans are not allowed in class.
>All students are expected to be punctual and regular.</pre></p>
</section>
</div>
</body>
</html>
